body{
     background-color: lightyellow;
     color: #000;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-transform: capitalize;
}
#cv-template{
    display: none;
}
.myimg{
    width: 35%;
    height: 20%;
    border-radius: 50%;
}


.background{
    background-color: aqua;
}

button{
    margin-bottom: 10px;
}
