*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #f9f9f9;
}

body{
    width: 100%;
    height: auto;
    background-color:rgb(255, 255, 255);
}


.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

.logo{
    color: #fff;
    font-size: 30px;
    margin: 0 30px;
    line-height: 80px;
}

.nav_element{
    float: right;
    list-style: none;
    margin-right: 10px;
}

.nav_element > li{
    display: inline-block;
    line-height: 80px;
}

.nav_element > li > a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform:capitalize;
    padding: 5px 20px;
    transition-duration: .5s;
    border-radius: 3px;
}

.nav_element > li > a:hover{
    background-color:grey;
}


#checkbox_for_nav{
    display: none;
}

#checkbox_for_nav:checked ~ ul{
    left: 0px;
}

#icon_responsive{
    color: #fff;
    cursor: pointer;
    line-height: 80px;
    margin-left: 20px;
    font-size: 30px;
    display: none;
}

#search{
    width: 220px;
    padding: 5px 10px;
    font-size: 2.9vh;
    outline: 0;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #111;
    font-weight: 600;
    border-radius: 3px;
    text-transform: capitalize;
    margin: auto;
}





/* //responsive  */
@media (max-width:1000px) {

    .logo{
        display: none;
    }

    #icon_responsive{
        display: block;
    }

    .nav_element{
        width: 100%;
        height: 100vh;

        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition-duration: .5s;
        padding-top: 20px;
    }

    .nav_element > li{
        display: block;
        text-align: center;
        line-height: 70px;
        text-transform: uppercase;
    }

    .nav_element > li > a{
        color: #fff;
    }

    .nav_element > li > a:hover{
        background-color: rgba(255, 166, 0);
    }

    
}






/* //background image  */
.bg{
    width: 100%;
    height: 80vh;
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.bg_layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.bg_layer > p{
    color: #f9f9f9;
}

.bg_layer > .bg_text_big{
    font-size: 5vh;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.bg_layer > .bg_text_small{
    color: antiquewhite;
    font-size: 3vh;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

.bg_layer > button{
    width: 250px;
    padding: 8px;
    font-size: 2.9vh;
    font-weight: 600;
    background-color:rgba(0,0,0,0.7);
    border: none;
    border-radius: 5px;
    transition-duration: .5s;
}

.bg_layer > button:hover{
    background-color: #f9f9f9;
}

.bg_layer > button > a{
    color: #fff;
    transition-duration: .5s;
}

.bg_layer > button > a:hover{
    color: #111;
}


/* //bg responsive  */
@media (max-width:768px) {
    .bg_layer > .bg_text_big{
        font-size: 3.7vh;
        letter-spacing: 1px;
        text-transform: capitalize;
        border-bottom: 2px solid orange;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: center;
        border: none;
    }

    .bg_layer > button{
        width: 220px;
        font-size: 2.7vh;
    }
}



/* //section  */
.cardrow_container{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.cardrow{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    background-color:floralwhite;
    margin-bottom: 110px;
    border-radius: 32px;
}

.cardrow > .card_text{
    width: 50%;
    height: 107%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align: justify;
    padding: 10px 40px;
}


.cardrow > .card_text > .card_text_big{
    font-size: 4vh;
    margin-bottom: 10px;
    font-weight:600;
}

.cardrow > .card_image{
    width: 35%;
    height: 96%;
    padding-top: 1%
}

.cardrow > .card_image > img{
    width: 404px;
    border: 2px solid black;
    border-radius: 26px;
    height: 100%;
    object-fit: cover;
}


#build_resume_btn_in_card_section {
    background-color: rgba(1,1,1,.8);
    padding: 7px 22px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}




/* //card responsive  */
@media (max-width:800px) {
    .cardrow{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 90%;
        height:auto;
        background-color: #f9f9f9;
        margin: auto;
        background-color:rgba(228, 216, 216, 0.9);
        margin-bottom: 100px;
    }

    .cardrow > .card_text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;
        text-align: justify;
        padding: 10px 40px;
    }

    .cardrow > .card_image{
        width:98%;
    }

    .card_image > .card_image > img{
        width: 100%;
        margin-top: 10px;
    }
}






/* //form styliing is here  */
.form{
    width: 100%;
    height: 80vh;
    background-color: darkgray;
    display: grid;
    place-items: center;
}

.form > form{
    width: 90%;
    height: 560px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
    /* overflow-y: scroll; */
}

.form > form > p{
    text-align: center;
    font-size:40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form > form > .form_element{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form > form > .form_element > input{
    width: 400px;
    padding: 8px;
    margin: auto auto;
    border:2px solid #fff;
    outline: none;
    background-color: aliceblue;
    font-size: 2.7vh;
    padding-left:20px;
    border-radius: 5px;
}

textarea{
    width: 400px;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: aliceblue;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 2.7vh;
    outline: none;
}

.form > form > .form_element > #submit{
    width:200px;
    text-align: center;
    font-size: 2.9vh;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    background-color:grey;
    cursor: pointer;
    transition-duration: .5s;
    margin-bottom: 20px;
    }

.form > form > .form_element > #submit:hover{
    color: #f9f9f9;
    background-color: rgba(0, 0, 0, 0.861);
}


/* //form responsive  */
@media (max-width:800px) {
    .form > form > .form_element > input{
        width: 80%;
    }


    textarea{
        width: 80%;
    }
}






/* //footer styling is here  */
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > .footer_text{
    text-align: center;
    font-size: 2.9vh;
    color: white;
}


/* //footer responsive { */

    @media (max-width:800px) {
        .footer{
            padding: 10px;
        }
        .footer > .footer_text{
            text-align: center;
            font-size: 2.5vh;
        }
    }



::-webkit-scrollbar{
    display: none;
}



